<footer class="footer">
	<span style="margin: 20px;">
		<ul style="display: flex; list-style: none;" class="f-listing">
			<li><a href="" style="color: white; padding: 30px; margin: 20px;">instagram</a></li>
			<li><a href="" style="color: white; padding: 30px;">twitter</a></li>
		</ul>
	</span>
	<% 
	const currentYear = new Date().getFullYear();
	 %>
	<p>&copy; <%= currentYear  %> <a href="" style="text-decoration: none;">faithpulsepoint</a>. All rights reserved.</p>
</footer>