<header class="nav-bar" id="navigator">
	<nav class="title navigation">
		<h1>faithpulsepoint</h1>
	</nav>
	<nav class="main-nav navigation">
		<ul class="main-bar bar" style="list-style: none;">
			<li><a href="/">Home</a></li>
			<li><a href="">Blogs</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</nav>
	<nav class="navigation">
		<ul class="secondary-bar bar " style="list-style: none;">
			<li><a href="">Depression</a></li>
			<li><a href="">Celebration</a></li>
			<li><a href="">Thanksgiving</a></li>
			<li><a href="">Family</a></li>
		</ul>
	</nav>
</header>